/* --- layout --- */
* {
    margin: 0;
    padding: 0;
	position: relative;
	font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
html, body {
	height: 100%;
}
#container {
    max-width: 100%;
	padding: 0;
}
/* --- navbar --- */
nav.navbar-clear  {
	background: #000;
	padding-top: 0rem;
	padding-bottom: 0rem;
}
.nav-title {
	color: #6bb8d6;
	font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
	color: #6bb8d6;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #f3ac1d;
}
.navbar-light .navbar-nav .nav-link:before {
	content: "";
	position: absolute;
	width: 20%;
	height: 1px;
	bottom: 0;
	left: 0;
	background: #f3ac1d;
	transform: scaleX(0);
	transition: 0.5s linear;
}
.navbar-light .navbar-nav .nav-link:hover:before {
	transform: scaleX(1);
	width: 60%;
	left: 20%;
}
.icon-hamburger {
    width: 30px;
}
.navbar-toggler:focus {
    border-color: #6bb8d6;
    outline: none;
}
.divider {
	width: 1px;
	background: #f3ac1d;
	margin: 12px 15px;
}
/* --- parallax --- */
.fixed-bg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative;
    z-index: -1;
}
.parent {
    text-align: center;
}
.parent:before {
    content: '';
    display: inline-block;
    height: 70vh;
    vertical-align: middle;
}
.child-photo, .child-text-box {
    display: inline-block;
    vertical-align: middle;
}
.child-photo {
    color: #fff;
	background-color: #f3ac1d;
    opacity: 0.9;
}
h3.question {
    margin: 0.25rem!important;
    font-size: 9vw;
}
p.answer {
    margin: 1.5rem!important;
    color: #6bb8d6;
    font-size: 2.5vw;
}
/* --- images --- */
.fixed-bg.box-1 {
    background-image: url(../images/who.png);
}
.fixed-bg.box-2 {
    background-image: url(../images/when-why.png);
}
.fixed-bg.box-3 {
    background-image: url(../images/what.png);
}
.fixed-bg.box-4 {
    background-image: url(../images/where.png);
}
.fixed-bg.box-5 {
    background-image: url(../images/how.png);
}
/* --- arrows diagram --- */
.container-arrows, #height-diagram{
    height: 7rem;
}
.col.font-weight-light.text-center {
    padding: 5px 0;
    border-radius: 15px;
    border: 1px solid;
	text-transform: uppercase;
}
#information,
#creativity,
#technology,
#inovation {
    font-size: 1.5rem;
}
#information {
    color: #f3ac1d;
    border-color: #f3ac1d;
}
#creativity {
    color: #6bb8d6;
    border-color: #6bb8d6;
}
#technology {
    color: #c1e2de;
    border-color: #c1e2de;
}
#inovation {
    color: #de3f18;
    border-color: #de3f18;
}
.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotateZ(45deg);
}
.arrow.col1.up, .arrow.col3_3.up {
    transform: rotateZ(45deg);
}
.arrow.col1.down {
    transform: rotateZ(225deg);
}
.arrow.col3.down {
    transform: rotateZ(135deg);
}
.arrow.col3.up, .arrow.col1_3.up {
    transform: rotateZ(315deg);
}
.arrow.col2.right_a, .arrow.col2.right_b {
    transform: rotateZ(270deg);
}
.arrow.col2.up_a, .arrow.col2.up_b {
    transform: rotateZ(180deg);
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    transform: rotateZ(45deg);
    margin: -10px;
    animation: animateArrrows 2s infinite;
}
.arrow span.information {
    border-bottom: 2px solid #f3ac1d;
    border-right: 2px solid #f3ac1d;
}
.arrow span.creativity {
    border-bottom: 2px solid #6bb8d6;
    border-right: 2px solid #6bb8d6;
}
.arrow span.technology {
    border-bottom: 2px solid #c1e2de;
    border-right: 2px solid #c1e2de;
}
.arrow span.inovation {
    border-bottom: 2px solid #de3f18;
    border-right: 2px solid #de3f18;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animateArrrows {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.6;
        transform: rotate(45deg) translate(20px,20px);
    }
}
.btn.btn-outline-primary.button_input {
	color: #6bb8d6;
	border: 2px solid #6bb8d6;	
}
.btn.btn-outline-primary.button_input:hover {
	color: #6bb8d6;
	border: 1px solid #6bb8d6;
	background-color: #fff;
}
/* --- Footer --- */
footer {
	background: #000;
	padding: 10px 0px 10px 0;
	position: relative;
	z-index: -1;
}
footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}
.footer, .footer a {
	color: #000;
}
a.icon_social_networks {
	color: #6bb8d6;
	transition: transform .5s;
}
a.icon_social_networks:hover {
	color: #f3ac1d;
	transform: scale(0.95); 
}
.footer-letters {
	color: #6bb8d6;
}
.footer-letters p {
	font-size: 1.85rem;
	margin-bottom: 0!important;
}
.logo_img {
	content: url(../images/logo.png);
	width: 50px;
}
.logo_img:hover {
	content: url(../images/logo_2.png);
	width: 50px;
	transform: scale(0.95); 
}
/* --- Letters size --- */
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: #fff;
}
h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04;
}
h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04; 
}
/* --- progress bar --- */
::-webkit-scrollbar
{
	width: 0;
}
#scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	background: rgba(177,190,70, 0.05);
}
#progressBar {
	position: fixed;
	top: 0;
	right: 0;
	width: 5px;
	background: #6bb8d6;
	animation: animateScrollBar 5s linear infinite;
}
@keyframes animateScrollBar
{
	0%
	{
		filter: sepia(0%);
	}
	50%
	{
		filter: sepia(10%);
	}
	100%
	{
		filter: sepia(25%);
	}
}
#progressBar:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #6bb8d6;
	filter: blur(5px);
}
#progressBar:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #6bb8d6;
	filter: blur(10px);
}
/* --- MEDIA QUERIES --- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* --- navbar --- */
    .navbar-collapse {
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-item {
        margin-right: 45%;
        margin-left:45%;
    }
    .navbar-light .navbar-nav .nav-link:before {
        height: 0.5px;
    }
    .navbar-light .navbar-nav .nav-link:hover:before {
        transform: scaleX(1);
        width: 55%;
        left: 25%;
    }
    .divider {
        height: 1px;
        width: 10%;
        background: #f3ac1d;
    }
    /* --- images --- */
    .fixed-bg.box-1 {
        background-image: url(../images/screen-max-width770/who.png);
    }
    .fixed-bg.box-2 {
        background-image: url(../images/screen-max-width770/when-why.png);
    }
    .fixed-bg.box-3 {
        background-image: url(../images/screen-max-width770/what.png);
    }
    .fixed-bg.box-4 {
        background-image: url(../images/where.png);
    }
    .fixed-bg.box-5 {
        background-image: url(../images/screen-max-width770/how.png);
    }
	/* -- arrows diagram -- */
    #information,
    #creativity,
    #technology,
    #inovation {
    font-size: 0.55rem!important;
    }
    .container-arrows {
        height: 4rem;
    }
	#height-diagram {
		height: 4rem;
	}
	.arrow.col1.up {
        top: 200%;
        left: 80%;
    }
    .arrow.col1.down {
        top: 235%;
        left: 120%;
    }
    .arrow.col3.up {
        top: 200%;
        left: 15%;
    }
    .arrow.col1_3.up {
        top: -230%;
        left: 120%;
    }
    .arrow.col2.right_a {
        top: 0%;
        left: 25%;
    }
    .arrow.col2.right_b {
        top: 0%;
        left: 65%;
    }
    .arrow.col2.up_a {
        top: 165%;
        left: 50%;
    }
    .arrow.col2.up_b {
        top: -125%;
        left: 50%;
    }
    .arrow.col3.down {
        top: 235%;
        left: -20%;
    }
    .arrow.col3_3.up {
        top: -230%;
        left: -20%;
    }
    .arrow span{
        width: 5px;
        height: 5px;
    }
    p.answer {
        font-size: 0.85rem;
    }
}
@media (max-width: 576px) {
    /* --- navbar --- */
    .navbar-collapse {
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-item {
        margin-right: 45%;
        margin-left:45%;
    }
    .navbar-light .navbar-nav .nav-link:before {
        height: 0.5px;
    }
    .navbar-light .navbar-nav .nav-link:hover:before {
        transform: scaleX(1);
        width: 55%;
        left: 25%;
    }
    .divider {
        height: 1px;
        width: 10%;
        background: #f3ac1d;
    }
    /* --- images --- */
    .fixed-bg.box-1 {
        background-image: url(../images/screen-max-width770/who.png);
    }
    .fixed-bg.box-2 {
        background-image: url(../images/screen-max-width770/when-why.png);
    }
    .fixed-bg.box-3 {
        background-image: url(../images/screen-max-width770/what.png);
    }
    .fixed-bg.box-4 {
        background-image: url(../images/where.png);
    }
    .fixed-bg.box-5 {
        background-image: url(../images/screen-max-width770/how.png);
    }
    #information,
    #creativity,
    #technology,
    #inovation {
    font-size: 0.75rem;
    }
	.arrow.col1.up {
        top: 180%;
        left: 95%;
    }
    .arrow.col1.down {
        top: 125%;
        left: 100%;
    }
	.arrow.col3.down {
        top: 155%;
        left: -5%;
    }
    .arrow.col3.up {
        top: 145%;
        left: 15%;
    }
    .arrow.col2.right_a {
        top: 30%;
        left: 20%;
    }
    .arrow.col2.right_b {
        top: 30%;
        left: 85%;
    }
    .arrow.col2.up_a {
        top: 100%;
        left: 45%;
    }
    .arrow.col2.up_b {
        top: -35%;
        left: 45%;
    }
	.arrow.col1_3.up {
        top: -55%;
        left: 100%;
    }
    .arrow.col3_3.up {
        top: -25%;
        left: 5%;
    }
    .arrow span{
        width: 5px;
        height: 5px;
    }
    .btn-text {
		font-size: 0.65rem;
	}
    p.answer {
        font-size: 0.85rem;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* --- navbar --- */
    .navbar-collapse {
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-item {
        margin-right: 45%;
        margin-left:45%;
    }
    .navbar-light .navbar-nav .nav-link:before {
        height: 0.5px;
    }
    .navbar-light .navbar-nav .nav-link:hover:before {
        transform: scaleX(1);
        width: 55%;
        left: 25%;
    }
    .divider {
        height: 1px;
        width: 10%;
        background: #f3ac1d;
    }
    /* --- images --- */
    .fixed-bg.box-1 {
        background-image: url(../images/screen-max-width770/who.png);
    }
    .fixed-bg.box-2 {
        background-image: url(../images/screen-max-width770/when-why.png);
    }
    .fixed-bg.box-3 {
        background-image: url(../images/screen-max-width770/what.png);
    }
    .fixed-bg.box-4 {
        background-image: url(../images/where.png);
    }
    .fixed-bg.box-5 {
        background-image: url(../images/screen-max-width770/how.png);
    }
    #information,
    #creativity,
    #technology,
    #inovation {
        font-size: 0.75rem;
    }
	.container-arrows, #height-diagram {
        height: 4.5rem;
    }
	.arrow span{
		width: 10px;
		height: 10px;
	}
	.arrow span.information {
		border-bottom: 1px solid #f3ac1d;
		border-right: 1px solid #f3ac1d;
	}
	.arrow span.creativity {
		border-bottom: 1px solid #6bb8d6;
		border-right: 1px solid #6bb8d6;
	}
	.arrow span.technology {
		border-bottom: 1px solid #c1e2de;
		border-right: 1px solid #c1e2de;
	}
	.arrow span.inovation {
		border-bottom: 1px solid #de3f18;
		border-right: 1px solid #de3f18;
	}
	.arrow.col1.up {
        top: 180%;
        left: 90%;
    }
    .arrow.col1.down {
        top: 160%;
        left: 105%;
    }
	.arrow.col3.down {
        top: 180%;
        left: -10%;
    }
    .arrow.col3.up {
        top: 160%;
        left: 10%;
    }
    .arrow.col2.right_a {
        top: 40%;
        left: 75%;
    }
    .arrow.col2.right_b {
        top: 40%;
        left: 20%;
    }
    .arrow.col2.up_a {
        top: -15%;
        left: 50%;
    }
    .arrow.col2.up_b {
        top: 130%;
        left: 50%;
    }
    .arrow.col1_3.up {
        top: -85%;
        left: 105%;
    }
    .arrow.col3_3.up {
        top: -60%;
        left: 0%;
    }
    p.answer {
        font-size: .95rem;
    }
    .btn-text {
		font-size: 0.85rem;
	}
} 
/* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {
    #information,
    #creativity,
    #technology,
    #inovation {
        font-size: 1.10rem;
    }
	.container-arrows, #height-diagram {
        height: 6rem;
    }
	.arrow.col1.up {
        top: 175%;
        left: 90%;
    }
    .arrow.col1.down {
        top: 160%;
        left: 105%;
    }
	.arrow.col3.down {
        top: 165%;
        left: -5%;
    }
    .arrow.col3.up {
        top: 165%;
        left: 10%;
    }
    .arrow.col2.right_a {
        top: 45%;
        left: 15%;
    }
    .arrow.col2.right_b {
        top: 45%;
        left: 80%;
    }
    .arrow.col2.up_a {
        top: -5%;
        left: 50%;
    }
    .arrow.col2.up_b {
        top: 125%;
        left: 50%;
    }
    .arrow.col1_3.up {
        top: -75%;
        left: 100%;
    }
    .arrow.col3_3.up {
        top: -70%;
        left: 0%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #information,
    #creativity,
    #technology,
    #inovation {
        font-size: 1.25rem;
    }
	.container-arrows, #height-diagram {
        height: 6rem;
    }
	.arrow.col1.up {
        top: 175%;
        left: 90%;
    }
    .arrow.col1.down {
        top: 150%;
        left: 105%;
    }
	.arrow.col3.down {
        top: 155%;
        left: -5%;
    }
    .arrow.col3.up {
        top: 170%;
        left: 10%;
    }
    .arrow.col2.right_a {
        top: 45%;
        left: 15%;
    }
    .arrow.col2.right_b {
        top: 45%;
        left: 85%;
    }
    .arrow.col2.up_a {
        top: -10%;
        left: 50%;
    }
    .arrow.col2.up_b {
        top: 125%;
        left: 50%;
    }
    .arrow.col1_3.up {
        top: -70%;
        left: 105%;
    }
    .arrow.col3_3.up {
        top: -60%;
        left: 0%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-arrows, #height-diagram {
        height: 6rem;
    }
	.arrow.col1.up {
        top: 135%;
		left: 95%;
    }
	.arrow.col1.down {
        top: 150%;
		left: 105%;
    }
	.arrow.col3.down {
        top: 155%;
        left: -5%;
    }
    .arrow.col3.up {
        top: 130%;
		left: 5%;
    }
    .arrow.col2.right_a {
        top: 50%;
        left: 15%;
    }
    .arrow.col2.right_b {
        top: 50%;
        left: 85%;
    }
    .arrow.col2.up_a {
        top: -10%;
        left: 50%;
    }
    .arrow.col2.up_b {
        top: 130%;
        left: 50%;
    }
	.arrow.col1_3.up {
        top: -65%;
        left: 100%;
    }
    .arrow.col3_3.up {
        top: -55%;
        left: 0%;
    }
	.btn-text {
		font-size: 1.5rem;
	}
}